# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio project files
[Ii]pch
[Dd]ebug
[Rr]elease
*.sln
*.sdf
*.suo
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.user
*.filters
*.opensdf